[submodule ".config/alacritty/catppuccin"]
	path = .config/alacritty/catppuccin
	url = https://github.com/catppuccin/alacritty.git
[submodule ".config/nvim"]
	path = .config/nvim
	url = git@github.com-Gaffclant:gaffclant/nvim
