mpd_music_dir = "/home/gaffclant/Music"




ncmpcpp_directory  = ~/.ncmpcpp

lyrics_directory  = ~/.ncmpcpp/lyrics

mpd_host = "localhost"

mpd_port = "6600"

mpd_connection_timeout = 5
mpd_crossfade_time = 5


audio_output {
        type            "my_fifo"
        name            "Visualizer feed"
        path            "/tmp/mpd.fifo"
        format          "44100:16:2"
}
##
#
visualizer_data_source = "/tmp/mpd.fifo"

visualizer_output_name = "my_fifo"
visualizer_type = "spectrum" (spectrum/wave)

now_playing_prefix = "$b$9▶$6 "
now_playing_suffix = $/b
selected_item_prefix = "* "
browser_sort_mode = name
browser_sort_format = {%a - }{%t}|{%f} {(%l)}
song_columns_list_format = "(7)[green]{l} (28)[cyan]{a} (28)[]{b} (50)[red]{t}"
execute_on_song_change = notify-send "Now Playing ♫" "$(mpc current)" & ~/.ncmpcpp/cover_obs.sh
playlist_display_mode = "columns"
browser_display_mode = "columns"
playlist_show_remaining_time = "yes"
discard_colors_if_item_is_selected = "no"
incremental_seeking = "yes"
seek_time = "1"


autocenter_mode = yes

centered_cursor = yes

progressbar_look = "▒▒░"

header_visibility = no
#
statusbar_visibility = no
#
titles_visibility = yes
#
header_text_scrolling = no
fetch_lyrics_for_current_song_in_background = yes
ask_before_clearing_playlists = yes

display_volume_level = "yes"

display_bitrate = "no"

search_engine_default_search_mode = 2

external_editor = "/usr/bin/nvim"

##
use_console_editor = yes




default_place_to_search_in = "database"

lyrics_fetchers = azlyrics, genius, sing365,  metrolyrics, justsomelyrics, jahlyrics, plyrics, tekstowo, internet
cyclic_scrolling = "yes"
jump_to_now_playing_song_at_start = "yes"
lines_scrolled = "2"

## Other ##
regular_expressions = "extended"


follow_now_playing_lyrics = "yes"
ignore_leading_the = "yes"
empty_tag_marker = ""

colors_enabled = yes
empty_tag_color = black
header_window_color = white
volume_color = black
state_line_color = red
state_flags_color = black
main_window_color = cyan
color1 = red
color2 = magenta
progressbar_color = cyan
progressbar_elapsed_color = red
statusbar_color = green
alternative_ui_separator_color = black
window_border_color = black
active_window_border = green
